body {
  margin: 0 !important;
  box-sizing: border-box;
  background-color: rgb(235, 233, 233) !important;
}

/* input customize */
.form__group {
  position: relative;
  margin-top: 16px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  background: transparent;
  transition: border-color 0.2s;
  padding-bottom: 4px;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 1rem;
  cursor: text;
  top: 0;
}


.form__label {
  position: absolute;
  top: -16px;
  display: block;
  transition: 0.2s;
  color: #9b9b9b;
}

.form__field:focus~.form__label {
  position: absolute;
  top: -16px;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #11998e;
  font-weight: 700;
}

.form__field:focus {
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}


/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.form__field::-webkit-inner-spin-button {
  appearance: none;
}

/* form customize */

.sub__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 50px;
}

#chk {
  display: none;
}

.login {
  position: relative;
  width: 100%;
  height: 100%;
}

.login__container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #d2d4dc, #fcfce8, #b57d0f);
}

.main__form {
  width: 350px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #9b520e;
}

.label {
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  padding-top: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.sub__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 50px;
  margin-top: 20px;
}

.signup {
  height: 460px;
  background: #fff;
  border-radius: 60% / 10%;
  transform: translateY(-100px);
  transition: .5s ease-in-out;
}

.login .label {
  color: #b57d0f;
}

.signup .label {
  color: #b57d0f;
  transform: scale(.6);
}

#chk:checked~.signup {
  transform: translateY(-420px);
}

#chk:checked~.signup .label {
  transform: scale(1);
}

#chk:checked~.login .label {
  transform: scale(.6);
}

/* customize button */
.addButton {
  width: 5rem;
  height: 2rem;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}


.addButton:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.addButton:active {
  color: #000
}

.addButton:active:after {
  background: transparent;
}

.addButton:hover:before {
  opacity: 1;
}

.addButton:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.errorMessage {
  color: red;
  font-size: 13px;
}

.h-screen-custom {
  height: calc(100vh - 100px);
}

/* hover a card  */

.custom__item:hover>.h5 {
  display: block;
  color: white
}

.custom__item:hover>p {
  display: none;
}

/* table */

.employee-table {
  width: 100%;
  position: relative;
  margin: 0 0;
  border: 1px solid #e4e4e4;
}


.employee-header {
  background-color: #efedef;
  position: sticky;
  top: -1px;
}


.employee-cell {
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.employee-row {
  border-bottom: 1px solid #e4e4e4;
}

.employee-row>td {
  padding: 10px;
}

/* button have stripe */
.stripe {
  color: #ffffff;
  background-image: repeating-linear-gradient(90deg,
      rgba(20, 25, 25, 0.6),
      rgba(25, 25, 25, 0.6) 10%,
      #4c4c4c 10%, #4c4c4c 20%) !important;
  background-size: 100%;
  transition: background 0.3s ease-in-out;
}

.stripe:hover {
  background-position: 150px;
}

/* tooltip button */
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  color: #111;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 16px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 0;
  right: 105%;
  /* animation of tooltip */
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  animation: glowing 20s linear infinite;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.department__tooltip {
  visibility: hidden;
}

.tooltip:hover .department__tooltip {
  visibility: visible;
}


/* Show dialog */
.show__dialog {
  position: static !important;
}